<section class="site-logo__section">
	<ul class="">
		<li class="">
			<a href="" class=""></a>
		</li>
		<li class="">
			<a href="" class="">Instagram</a>
		</li>
		<li class="">
			<a href="" class="">Youtube</a>
		</li>
	</ul>
	<a href="">
		<svg class="" width="" haight="">
			<use href=""></use>
		</svg>
	</a>
</section>
<section class="hero__section">
	<div class="hero__conteiner--nav">
		<nav class="hero__nav">
			<ul class="hero__list--nav">
				<li class="">
					<a href="" class="hiro__link">About</a>
				</li>
				<li class="">
					<a href="" class="hiro__link">Services and prices</a>
				</li>
				<li class="">
					<a href="" class="hiro__link">Barbers</a>
				</li>
				<li class="">
					<a href="" class="hiro__link">Contacts</a>
				</li>
			</ul>
		</nav>
		<ul class="hero__list--call">
			<li class="">
				<a href="tel:+380441111111" class="hero__telefone">+38 044 111 11 11</a>
			</li>
			<li class="">
				<button class="hero__bitton">Online-booking</button>
			</li>
		</ul>
	</div>
	<div class="hero__conteiner">
		<p class="">A hair salon for men in Kyiv</p>
		<h1>BarberShop</h1>
		<p class="">
			We are experts in trendy men’s haircuts.
			We work quickly, carefully and with style.
		</p>
	</div>
	<div class="leaf-through__conteiner">
		<ul class="">
			<li class="">Back</li>
			<li class="">Forward</li>
		</ul>
	</div>
</section>