<header>
  <div class="site-logo">
    <ul class="">
      <li class="">
        <a href="" class=""></a>
      </li>
      <li class="">
        <a href="" class="">Instagram</a>
      </li>
      <li class="">
        <a href="" class="">Youtube</a>
      </li>
    </ul>
    <a href="">
      <svg class="" width="" haight="">
        <use href=""></use>
      </svg>
    </a>
  </div>
  <div class="hero">
  </div>
  <div class="hero__conteiner">
    <nav>
      <ul>
        <li class="">
          <a href="" class="">About</a>
        </li>
        <li class="">
          <a href="" class="">Services and prices</a>
        </li>
        <li class="">
          <a href="" class="">Barbers</a>
        </li>
        <li class="">
          <a href="" class="">Contacts</a>
        </li>
      </ul>
    </nav>
    <ul class="">
      <li class="">
        <a href="tel:+380441111111" class="">+38 044 111 11 11</a>
      </li>
      <li class="">
        <button class="">Online-booking</button>
      </li>
    </ul>
  </div>
  <div class="">
    <p class="">A hair salon for men in Kyiv</p>
    <h1>BarberShop</h1>
    <p class="">
      We are experts in trendy men’s haircuts.
      We work quickly, carefully and with style.
    </p>
  </div>
  <div class="">
    <ul class="">
      <li class="">Back</li>
      <li class="">Forward</li>
    </ul>
  </div>
</header>